<div id="payment-request-button" data-stripe-config="<%= payment_method.stripe_config(current_order).to_json %>" data-v3-api="<%= stripe_v3_api %>"></div>

<% param_prefix = "payment_source[#{payment_method.id}]" %>
<% name = SolidusSupport.combined_first_and_last_name_in_address? ? @order.name : "#{@order.billing_firstname} #{@order.billing_lastname}" %>

<div class="field-container">
  <%= label_tag "name_on_card_#{payment_method.id}", t('spree.name_on_card') %>
  <%= text_field_tag "#{param_prefix}[name]", name, { id: "name_on_card_#{payment_method.id}", autocomplete: "cc-name", class: 'StripeElement' } %>
</div>

<div class="field field-required field-container" data-hook="card_number">
  <%= label_tag "card_number", t('spree.card_number') %>
  <div id="card_number"></div>
  <span id="card_type" style="display:none;">
    ( <span id="looks_like" ><%= t('spree.card_type_is') %> <span id="type"></span></span>
    <span id="unrecognized"><%= t('spree.unrecognized_card_type') %></span>
    )
  </span>
</div>

<div class="row">
  <div class="field-container">
    <div class="field field-required col-sm-6" data-hook="card_expiration">
      <%= label_tag "card_expiry", t('spree.expiration') %>
      <div id="card_expiry"></div>
    </div>

    <div class="field field-required col-sm-6" data-hook="card_code">
      <%= label_tag "card_cvc", t('spree.card_code') %>
      <div id="card_cvc"></div>
    </div>
  </div>
</div>
<div id="card-errors" class='errorExplanation' role="alert" style="display: none"></div>

<% if @order.bill_address %>
  <%= fields_for "#{param_prefix}[address_attributes]", @order.bill_address do |f| %>
    <%= render partial: 'spree/address/form_hidden', locals: { form: f } %>
  <% end %>
<% end %>

<%= hidden_field_tag "#{param_prefix}[cc_type]", '', id: "cc_type", class: 'ccType' %>
